body{font-size:12px;}
.admin-browse .navmenu li{font-size:13px}
.admin-browse #adminMenu.navmenu li {font-size:13px;}
.list-group-item{padding:8px 15px 8px 0}
.panel-title{font-size:12px;}
.admin-browse .panel-heading .btn{font-size:13px;}
.admin-browse .panel-footer .btn.txt{font-size:13px;}
.modal-title{font-size:15px}
.dropdown-menu{font-size:12px;}
.btn,.btn:hover,.btn:active,.btn:focus{font-size:13px;}
.modal-header .btn,.modal-header .btn:hover{font-size:14px;}
.btn.btn-small:hover, .btn.btn-small:active, .btn.btn-small:focus{font-size:13px;}
.btn.btn-x-small:hover, .btn-x-small:active, .btn.btn-x-small:focus{font-size:13px;}
.operate .btn, .operate .btn:hover{font-size:13px}
.form-control{font-size:12px;}
.nav-search-form #filter_btn{font-size:12px;}
.print-container .button{font-size:12px;}
.order-btn, .order-btn:hover, .order-btn:active, .order-btn:focus{font-size:12px;}
.list-group-item .list-group-item-text{font-size:13px;}
#adminMenu .nav > li > a{padding:5px 15px}
.admin-browse .list-group-item .list-group-item-heading{font-size:14px;}
#myorderlist .list-group-item .list-group-item-heading{font-size:13px;}
@media (min-width: 768px){
    .bootcards-list .search-form input, .bootcards-list form input {
        height: 30px;
    }
}
.list-group-item .form-control{margin-bottom:-8px}
.list-font a.list-group-item{font-size:13px;}