@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?s4i28v');
    src:  url('fonts/icomoon.eot?s4i28v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s4i28v') format('truetype'),
    url('fonts/icomoon.woff?s4i28v') format('woff'),
    url('fonts/icomoon.svg?s4i28v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-newly-added:before {
    content: "\e9ed";
}
.icon-dustbin:before {
    content: "\e9ee";
}
.icon-my-picture:before {
    content: "\e9e6";
}
.icon-not-through:before {
    content: "\e9e7";
}
.icon-make:before {
    content: "\e9e8";
}
.icon-success:before {
    content: "\e9e9";
}
.icon-to-examine:before {
    content: "\e9ea";
}
.icon-microphone:before {
    content: "\e9eb";
}
.icon-background:before {
    content: "\e9ec";
}
.icon-listen-in:before {
    content: "\e9e5";
}
.icon-voice:before {
    content: "\e9e0";
}
.icon-keyboard:before {
    content: "\e9e1";
}
.icon-picture:before {
    content: "\e9e2";
}
.icon-delete-symbol:before {
    content: "\e9e3";
}
.icon-add-symbol:before {
    content: "\e9e4";
}
.icon-edit:before {
    content: "\e9df";
}
.icon-join:before {
    content: "\e9d7";
}
.icon-curriculum:before {
    content: "\e9dd";
}
.icon-recording:before {
    content: "\e9de";
}
.icon-my:before {
    content: "\e9d5";
}
.icon-add-to:before {
    content: "\e9d6";
}
.icon-source-material:before {
    content: "\e97d";
}
.icon-fork:before {
    content: "\e9db";
}
.icon-click-upload:before {
    content: "\e9dc";
}
.icon-heart-o:before {
    content: "\e9da";
}
.icon-content:before {
    content: "\e9d9";
}
.icon-heart:before {
    content: "\e9d8";
}
.icon-mail-box:before {
    content: "\e874";
}
.icon-warning:before {
    content: "\e875";
}
.icon-security-check:before {
    content: "\e876";
}
.icon-scan-code-set:before {
    content: "\e877";
}
.icon-freight-template:before {
    content: "\e9d3";
}
.icon-free-shipping:before {
    content: "\e9d2";
}
.icon-get-into:before {
    content: "\e9d4";
}
.icon-horn:before {
    content: "\e9cf";
}
.icon-rule:before {
    content: "\e9d0";
}
.icon-minus-sign:before {
    content: "\e9cd";
}
.icon-plus-sign:before {
    content: "\e9ce";
}
.icon-right:before {
    content: "\e9ca";
}
.icon-trash:before {
    content: "\e9cb";
}
.icon-head-portrait:before {
    content: "\e9cc";
}
.icon-traceability-query:before {
    content: "\e9c9";
}
.icon-administrator:before {
    content: "\e9c8";
}
.icon-limit:before {
    content: "\e9c6";
}
.icon-relationship:before {
    content: "\e9c7";
}
.icon-market-plug-in:before {
    content: "\e9b1";
}
.icon-truck:before {
    content: "\e9c4";
}
.icon-box-code:before {
    content: "\e9c5";
}
.icon-pre-deposit:before {
    content: "\e9c3";
}
.icon-plug-in:before {
    content: "\e9c2";
}
.icon-scan:before {
    content: "\e9bf";
}
.icon-code:before {
    content: "\e9c0";
}
.icon-scanning:before {
    content: "\e9c1";
}
.icon-left-out:before {
    content: "\e9be";
}
.icon-security:before {
    content: "\e9bd";
}
.icon-my-performance:before {
    content: "\e9bc";
}
.icon-Fake:before {
    content: "\e9b9";
}
.icon-suspicious:before {
    content: "\e9ba";
}
.icon-quality-goods:before {
    content: "\e9bb";
}
.icon-loading:before {
    content: "\e9b8";
}
.icon-search-o:before {
    content: "\e9b7";
}
.icon-upload-document:before {
    content: "\e9b6";
}
.icon-finance:before {
    content: "\e9b5";
}
.icon-about-new:before {
    content: "\e95e";
}
.icon-registration-statistics:before {
    content: "\e9b2";
}
.icon-address-management:before {
    content: "\e9b3";
}
.icon-audit-order-new:before {
    content: "\e9b4";
}
.icon-sell-order:before {
    content: "\e90b";
}
.icon-agent-management:before {
    content: "\e9af";
}
.icon-volume:before {
    content: "\e9d1";
}
.icon-agent-level:before {
    content: "\e9b0";
}
.icon-dictionaries:before {
    content: "\e9a4";
}
.icon-faq:before {
    content: "\e9a5";
}
.icon-order-export:before {
    content: "\e9a6";
}
.icon-payment:before {
    content: "\e9a7";
}
.icon-product-category:before {
    content: "\e9a8";
}
.icon-staff:before {
    content: "\e9a9";
}
.icon-system-settings:before {
    content: "\e9aa";
}
.icon-warehouse:before {
    content: "\e9ab";
}
.icon-waybill-template:before {
    content: "\e9ac";
}
.icon-website-authorization:before {
    content: "\e9ad";
}
.icon-wechat-public:before {
    content: "\e9ae";
}
.icon-my-recharge:before {
    content: "\e99d";
}
.icon-agent-recharge:before {
    content: "\e99e";
}
.icon-my-withdrawals:before {
    content: "\e99f";
}
.icon-agent-withdrawals:before {
    content: "\e9a0";
}
.icon-my-assets:before {
    content: "\e9a1";
}
.icon-agent-assets:before {
    content: "\e9a3";
}
.icon-deliver-goods:before {
    content: "\e9a2";
}
.icon-refresh:before {
    content: "\e998";
}
.icon-aents-statistics:before {
    content: "\e986";
}
.icon-all-agents:before {
    content: "\e987";
}
.icon-deposit:before {
    content: "\e98a";
}
.icon-immediate-agents:before {
    content: "\e98b";
}
.icon-journal:before {
    content: "\e98c";
}
.icon-login-statistics:before {
    content: "\e98d";
}
.icon-my-order2:before {
    content: "\e98e";
}
.icon-pending-agents:before {
    content: "\e98f";
}
.icon-product:before {
    content: "\e990";
}
.icon-refund:before {
    content: "\e991";
}
.icon-region:before {
    content: "\e992";
}
.icon-retreat-safely:before {
    content: "\e993";
}
.icon-return-agents:before {
    content: "\e994";
}
.icon-sales-statistics:before {
    content: "\e995";
}
.icon-spread-image:before {
    content: "\e996";
}
.icon-system:before {
    content: "\e997";
}
.icon-chart-new2:before {
    content: "\e99a";
}
.icon-verification-code2:before {
    content: "\e99b";
}
.icon-mobile-phone2:before {
    content: "\e99c";
}
.icon-lock:before {
    content: "\e999";
}
.icon-weibo:before {
    content: "\e988";
}
.icon-QQ:before {
    content: "\e989";
}
.icon-chart-new:before {
    content: "\e985";
}
.icon-apply-agent:before {
    content: "\e900";
}
.icon-audit-agent:before {
    content: "\e901";
}
.icon-audit-order:before {
    content: "\e902";
}
.icon-authorize:before {
    content: "\e903";
}
.icon-deal:before {
    content: "\e904";
}
.icon-delivery-order:before {
    content: "\e905";
}
.icon-frequency:before {
    content: "\e906";
}
.icon-not-online:before {
    content: "\e907";
}
.icon-online-people:before {
    content: "\e908";
}
.icon-total-people:before {
    content: "\e909";
}
.icon-unit-price:before {
    content: "\e90a";
}
.icon-code-new:before {
    content: "\e978";
}
.icon-computer-new:before {
    content: "\e977";
}
.icon-upload-new:before {
    content: "\e973";
}
.icon-searched-new:before {
    content: "\e976";
}
.icon-choice-o-new:before {
    content: "\e971";
}
.icon-set-up-new:before {
    content: "\e975";
}
.icon-right-new:before {
    content: "\e969";
}
.icon-left-new:before {
    content: "\e96e";
}
.icon-shopping-new:before {
    content: "\e96f";
}
.icon-delete-new:before {
    content: "\e974";
}
.icon-screen-o-new:before {
    content: "\e970";
}
.icon-search-new:before {
    content: "\e972";
}
.icon-shopping-cart-new2:before {
    content: "\e96d";
}
.icon-alipay-new:before {
    content: "\e95f";
}
.icon-profile-o-new:before {
    content: "\e968";
}
.icon-sign-out-new:before {
    content: "\e962";
}
.icon-followed-o-new:before {
    content: "\e963";
}
.icon-shield-new:before {
    content: "\e95d";
}
.icon-assessment-new:before {
    content: "\e960";
}
.icon-buy-new:before {
    content: "\e961";
}
.icon-location-new:before {
    content: "\e964";
}
.icon-market-new:before {
    content: "\e965";
}
.icon-order-amount-new:before {
    content: "\e966";
}
.icon-product-new:before {
    content: "\e967";
}
.icon-public-new:before {
    content: "\e96a";
}
.icon-sell-new:before {
    content: "\e96b";
}
.icon-wechat-new:before {
    content: "\e96c";
}
.icon-home-o-new:before {
    content: "\e958";
}
.icon-shopping-cart-o-new:before {
    content: "\e959";
}
.icon-shopping-cart-new:before {
    content: "\e95a";
}
.icon-people-o-new:before {
    content: "\e95b";
}
.icon-photo-o-new:before {
    content: "\e95c";
}
.icon-information:before {
    content: "\e957";
}
.icon-housekeeper:before {
    content: "\e956";
}
.icon-pass:before {
    content: "\e955";
}
.icon-fine-angle-left:before {
    content: "\e953";
}
.icon-fine-angle-right:before {
    content: "\e954";
}
.icon-petal:before {
    content: "\e952";
}
.icon-leaf:before {
    content: "\e951";
}
.icon-error:before {
    content: "\e950";
}
.icon-doubt:before {
    content: "\e94e";
}
.icon-my-order:before {
    content: "\e94f";
}
.icon-crown:before {
    content: "\e94d";
}
.icon-ailgn-justify:before {
    content: "\e912";
}
.icon-alert:before {
    content: "\e913";
}
.icon-angle-double-down:before {
    content: "\e914";
}
.icon-angle-double-left:before {
    content: "\e915";
}
.icon-angle-double-right:before {
    content: "\e916";
}
.icon-angle-double-up:before {
    content: "\e917";
}
.icon-angle-down:before {
    content: "\e918";
}
.icon-angle-left:before {
    content: "\e919";
}
.icon-angle-right:before {
    content: "\e91a";
}
.icon-angle-up:before {
    content: "\e91b";
}
.icon-arrow-1:before {
    content: "\e90c";
}
.icon-arrow-2:before {
    content: "\e90d";
}
.icon-arrow-3:before {
    content: "\e90e";
}
.icon-arrow-4:before {
    content: "\e90f";
}
.icon-arrow-5:before {
    content: "\e910";
}
.icon-arrow-6:before {
    content: "\e911";
}
.icon-arrow-7:before {
    content: "\e922";
}
.icon-arrow-8:before {
    content: "\e923";
}
.icon-arrow-9:before {
    content: "\e924";
}
.icon-cach:before {
    content: "\e925";
}
.icon-check:before {
    content: "\e926";
}
.icon-check-circle:before {
    content: "\e927";
}
.icon-check-circle-o:before {
    content: "\e928";
}
.icon-chevron-circle-down:before {
    content: "\e929";
}
.icon-chevron-circle-left:before {
    content: "\e92a";
}
.icon-chevron-circle-right:before {
    content: "\e92b";
}
.icon-chevron-circle-up:before {
    content: "\e92c";
}
.icon-chevron-down:before {
    content: "\e92d";
}
.icon-chevron-left:before {
    content: "\e91c";
}
.icon-chevron-right:before {
    content: "\e91d";
}
.icon-chevron-up:before {
    content: "\e91e";
}
.icon-chinses-coins:before {
    content: "\e91f";
}
.icon-close:before {
    content: "\e920";
}
.icon-close-circle:before {
    content: "\e921";
}
.icon-close-circle-o:before {
    content: "\e934";
}
.icon-cog:before {
    content: "\e935";
}
.icon-credit-card:before {
    content: "\e936";
}
.icon-cry-o:before {
    content: "\e937";
}
.icon-database:before {
    content: "\e938";
}
.icon-delivery:before {
    content: "\e939";
}
.icon-discount:before {
    content: "\e93a";
}
.icon-ellipsis:before {
    content: "\e93b";
}
.icon-home:before {
    content: "\e93c";
}
.icon-home-o:before {
    content: "\e93d";
}
.icon-laugh-o:before {
    content: "\e93e";
}
.icon-list:before {
    content: "\e93f";
}
.icon-long-arrow-down:before {
    content: "\e92e";
}
.icon-long-arrow-left:before {
    content: "\e92f";
}
.icon-long-arrow-right:before {
    content: "\e930";
}
.icon-long-arrow-up:before {
    content: "\e931";
}
.icon-map-marker:before {
    content: "\e932";
}
.icon-map-marker-o:before {
    content: "\e933";
}
.icon-message:before {
    content: "\e946";
}
.icon-order:before {
    content: "\e947";
}
.icon-pay:before {
    content: "\e948";
}
.icon-pencil:before {
    content: "\e949";
}
.icon-pencil-square-o:before {
    content: "\e94a";
}
.icon-people:before {
    content: "\e94b";
}
.icon-plus:before {
    content: "\e94c";
}
.icon-plus-circle:before {
    content: "\e979";
}
.icon-plus-circle-o:before {
    content: "\e97a";
}
.icon-qiang:before {
    content: "\e97b";
}
.icon-redpaper:before {
    content: "\e97c";
}
.icon-reply:before {
    content: "\e940";
}
.icon-reply-circle:before {
    content: "\e941";
}
.icon-reply-circle-o:before {
    content: "\e942";
}
.icon-search:before {
    content: "\e943";
}
.icon-share:before {
    content: "\e944";
}
.icon-shopping-cart:before {
    content: "\e945";
}
.icon-shopping-cart-2:before {
    content: "\e984";
}
.icon-signin:before {
    content: "\e983";
}
.icon-signout:before {
    content: "\e982";
}
.icon-star:before {
    content: "\e981";
}
.icon-user-group:before {
    content: "\e980";
}
.icon-user-level:before {
    content: "\e97f";
}
.icon-weipay:before {
    content: "\e97e";
}

