﻿@container-background: transparent;
@title-color: #5d9cec;
@title-border-color: black;

body, html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

body {
    background-color: #f6f6f6;
    background: url(../../../src/content/images/app-bg-01.jpg) no-repeat center;
    background-size: cover;
}

.container {
    width: 90%;
    height: 80%;
    background-color: @container-background;
    position: absolute;
    top: 10%;
    left: 5%;
}

.container-row, .container-col {
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    box-shadow: #999 0 2px 10px;
    -moz-box-shadow: #999 0 2px 10px;
    -webkit-box-shadow: #999 0 2px 10px;
    background: #fff;
}

.page-title {
    height: 44px;
    text-align: left;
    width: 100%;
    font-size: 1.2em;
    color: #999999;
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
    background-color: @title-color;
    line-height: 43px;
    color: white; /*background-color: white;*/
    border-bottom: 4px solid @title-border-color;

    .icon-people-o-new {
        font-weight: 900;
    }
}

.page-title .icon {
    margin-left: 5px;
}

.page-title a, .page-title a:hover, .page-title a:visited, .page-title a:focus {
    color: white;
    text-decoration: none;
}

.page-title .icon:hover, page-title a:hover {
    color: #375f92;
    cursor: pointer;
}

.page-content, .cover {
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    position: absolute;
}

.cover {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    z-index: 100;

    .loading {
        position: absolute;
        width: 100%;
        top: 30%;
    }
}

#msgCenter {
    &::-webkit-scrollbar {
        display: none;
    }

    overflow-y: auto;
    height: e("-webkit-calc(100% - 44px)");
    height: e("calc(100% - 44px)");
}

.msg-title {
    margin-bottom: 4px;
    border-radius: 0;
    border: none;
    color: white;

    .panel-body {
        padding: 11px;
        background-color: @title-color;
    }
}

.msg-list {

    .panel {
        &:active, &:hover {
            background-color: rgba(245, 245, 245, 1);
            color: black;
        }

        a {
            &:hover, &:active {
                text-decoration: none;
            }
        }

        cursor: default;
        border-radius: 0;
        margin-bottom: 2px;
        background-color: rgba(245, 245, 245, 0.81);

        .panel-body {
            padding: 10px;
        }

        .glyphicon-trash, .glyphicon-ok {
            display: block;
            padding: 6px;
            border-radius: 50%;
            font-size: 10px;
            margin-left: 7px;
        }

        .glyphicon-trash {
            background: #d29393;
        }

        .glyphicon-ok {
            background: #689435;
        }

        .msg-item-content {
            display: flex;
            align-itemorder-group-contents: center;
            justify-content: space-between;

            .logo {
                width: 35px;
                margin-right: 10px;

                img {
                    width: 100%;
                }
            }

            .content {
                flex: 1;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-flow: column;

                .body {
                }
            }

            .button {
                width: 1em;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            .bt-delete {
                &:hover {
                    color: white;
                }

                z-index: 1000;
                color: white;
            }
        }

        .msg-item-content-small {

            .logo {
                width: 100%;
            }
        }
    }

    .resolved {
        background: #8BC34A;
        color: white;
    }

    .need-resolve {
        background: white;
    }

    .default-msg {
        background-color: #f8f8f8;
        height: 100%;
        color: rgba(93, 156, 236, 0.14);
        text-align: center;

        span.icon-alert {
            font-size: 212px;
            height: 100%;
            color: rgba(93, 156, 236, 0.14);
            margin-top: 16px;
            display: block;
        }
    }

    .priority_5 {
        /*margin-top: 2em;*/
        &::before {
            font-family: 'icomoon';
            src: url('fonts/icomoon.eot?11cxef');
            src: url('fonts/icomoon.eot?11cxef#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?11cxef') format('truetype'), url('fonts/icomoon.woff?11cxef') format('woff'), url('fonts/icomoon.svg?11cxef#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
            content: '\e95d';
            text-align: center;
            font-size: 3em;
            display: block;
            color: #f96464;
            /* top: 2px; */
            /* position: relative; */
            height: 50px;
            /* background: white; */
        }
    }
}

#message.no-message {
    transform: translate3d(100%,0,0);
    transition: .25s ease;
}

#message.with-message {
    transform: translate3d(0,0,0);
    transition: .25s ease;
}

@media (min-width:768px) {
    #app.no-message {
        transform: translate3d(-5%,0,0);
    }
}

@media (min-width:992px) {
    #app.no-message {
        transform: translate3d(-4.5%,0,0);
    }
}

@media (min-width:1200px) {
    #app.no-message {
        transform: translate3d(-17.5%,0,0);
    }
}

#app {
}

#app.no-message {
    transition: .25s ease;
}

#app.with-message {
    transform: translate3d(0,0,0);
    transition: .25s ease;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.spinning {
    display: inline-block;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}
